<app-header></app-header>
<div class="cover-container p-3">
    <main role="main" class="inner cover">
        <h1 class="cover-heading">ITEM - CREATE</h1>
        <p class="lead mt-3">This API can be used by admin role user.</p>
        <div class="row">
            <div class="col-md-12 mb-3">
                <!-- <label for="firstName">First name</label> -->
                <label for="itemName">商品名</label>
                <input type="text" class="form-control" id="itemName">
            </div>
            <div class="col-md-12 mb-3">
                <!-- <label for="firstName">First name</label> -->
                <label for="itemName">価格</label>
                <input type="text" class="form-control" id="itemName">
            </div>
        </div>
        <hr style="border-color: white;">
        <p class="lead my-4">
            <button type="button" class="btn btn-lg btn-outline-success" (click)="itemCreate()">CREATE</button>
        </p>
    </main>
</div>