<div class="cover-container p-3">
    <main role="main" class="inner cover">
        <h1 class="cover-heading">Demo Application for<br>
            OCI API Gateway & Oracle Functions</h1>
        <p class="lead mt-3">Implements an integrated login feature with IDCS</p>
        <p class="lead mt-4">
            <a class="btn btn-lg btn-secondary"
                href="https://idcs-f0017ddeef0241cfbd70e057c032ff44.identity.oraclecloud.com/oauth2/v1/authorize?client_id=ae777aecc5bb4d83a511990c465238b3&response_type=code&redirect_uri=http://localhost:4200/item-search&scope=openid">
                IDCS Sign In
            </a>
        </p>
    </main>
</div>