<app-header></app-header>
<div class="cover-container p-3">
    <main role="main" class="inner cover">
        <h1 class="cover-heading">ITEM - SEARCH</h1>
        <p class="lead mt-3">This API can be used by everyone as long as IDCS authentication process is completed.</p>
        <p class="lead my-4">
            <button type="button" class="btn btn-lg btn-outline-success" (click)="itemSearch()">SEARCH</button>
        </p>
        <div *ngIf="items">
            <table class="table table-bordered search-result">
                <thead>
                    <th>ID</th>
                    <th>NAME</th>
                    <th>PRICE</th>
                </thead>
                <tbody *ngFor="let item of items">
                    <tr>
                        <td>{{item.id}}</td>
                        <td>{{item.name}}</td>
                        <td>{{item.price}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>
</div>