openapi: '3.0.2'
info:
  title: OpenAPI example
  version: '1.0'
servers:
  - url: https://pdjk3ikdxkuktzcrvalmyu2ftq.apigateway.ap-tokyo-1.oci.customer-oci.com
paths:
  /employee:
    get:
      responses:
        '200':
          description: return all employees infomation.
          content:
            application/json:
              examples:
                Hoge:
                  value:
                    id: 1
                    name: Hoge Hoge
                Fuga:
                  value:
                    id: 2
                    name: Fuga Fuga
    post:
      responses:
        '201':
          description: return employee information that created.
          content:
            application/json:
              examples:
                example01:
                  value: 
                    id: 3
                    name: John
  /employee/id/{id}:
    get:
      responses:
        '200':
          description: return employee infomation that matched an employeeId.
      parameters:
        - name: id
          in: path
          schema:
            type: integer
          required: true
    put:
      responses:
        '204':
          description: return employee information that updated.
      parameters:
        - name: id
          in: path
          schema:
            type: integer
          required: true
    delete:
      responses:
        '204':
          description: return xxx.
      parameters:
        - name: employeeId
          in: path
          schema:
            type: integer
          required: true